*{
	font-family: monospace;
}
h4, h5{
	margin: 0;
}
.container{
	width: 970px;
	min-height: 600px;
	margin: 0 auto;
	text-align: center;
}
.messages{
	border: solid;
	display: inline-block;
}
.comments{
	border: dotted 1px;
	display: inline-block;
}